:root {
    --primary-color: #5cb6ec;
    --secondary-color: #ffffff;
    --text-color: #333333;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
  }
  
  header {
    background-color: var(--primary-color);
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  .about-us {
    margin-top: 20px;
  }
  
 
  
  


  


  /* About Section */
#about {
    text-align: center;
    padding: 20px;
    margin: 10px;
  }
  
  #about .image-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
  }
  
  #about .image-container {
    text-align: center;
    display: inline-block;
    width: 200px;
    margin-left: 20px;
  }
  
  #about .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #5cb6ec;
    object-fit: cover;
  }
  
  #about .info {
    margin-top: 10px;
    text-align: center;
  }
  
  #about .info p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }
  
  #about .info p:hover {
    transform: scale(1.1);
    color: #5cb6ec;
  }
  